<h3>Message de confirmation</h3>

Hello {{ user.nom }} {{ user.prenom }}, your account is successfully registered.
Your informations : 

<p>{{ user.birthdate }}</p>
<p>{{ user.sex }}</p>
<p>{{ user.country }}</p>
<p>{{ user.region }}</p>
<p>{{ user.job }}</p>

<p>Thanks.</p>