{% extends "UrbikUserBundle::layout.html.twig" %}

{% block body %}
<div class="container">
    <br>
        <div class=" col-xs-6">
                <a href="{{path('urbik_user_admin_new') }}" class="btn btn-success float-left">Nouveau</a>
                
        </div>
        <div class="col-xs-6 text-right">
                <a href="{{path('logout') }}" class="btn btn-success float-right">Déconnexion</a>
        </div>
        <br>
    {% if users %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pays</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.country }}</td>
                <td><a href="{{path('urbik_user_admin_view', {'id': user.id }) }}" class="btn btn-primary">Voir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}